<!DOCTYPE html>
<html ng-app="demoApp"> <!-- this declare the page an angular app page. it will apply to everything below (within </>)-->
  <head>
  <title>Cowsay Client</title>
  </head>
  <body>
    <section ng-controller="CowsayController as cowsayCtrl">  <!--A controller is like a handlebars template -->
      <h1> {{cowsayCtrl.title}}</h1> <!-- below is an instance of the cowsay controller -->
      <input type="text" ng-model="cowsayCtrl.text">
      <button ng-click="cowsayCtrl.helloClick()">Click me for spam</button>
      <pre> <!--whenever we hit this button, it will call this function, and update variable up there-->
        {{cowsayCtrl.updateCow(cowsayCtrl.text)}}
      </pre>
    </section>
    <section ng-controller="CowsayController as cowsayCtrl">
      <h1> {{cowsayCtrl.title}} </h1>
      <form ng-submit = "cowsayCtrl.submit()">
        Click "Submit" to save what the cow says!
      <input type="text" ng-model="cowsayCtrl.text" name = "cowtext">
      <input type="submit" id="submit" value="submit">
      <pre>List of Cow utterings:{{cowsayCtrl.list}}</pre>
    </form>
    </section>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>
