<!DOCTYPE html>
<html ng-app="demoApp">
  <head>
  <title>Cowsay Client</title>
  </head>
  <body>
    <h1 class = "header">Cows say the Darndest Things</h1>
    <section ng-controller="CowsayController as cowsayCtrl">
      <form>
        <label for="dropdown">SELECT A COWFILE</label>
        <select ng-model = "cowsayCtrl.currentCow" name="dropdown" id="dropdown">
          <option ng-repeat="cowfile in cowsayCtrl.list" value ="{{cowfile}}">{{cowfile}}</option>
        </select>
      </form>
      <button ng-click="cowsayCtrl.undo()">REMOVE LAST COWFILE</button>
      <form ng-submit = "cowsayCtrl.submit(cowsayCtrl.text)">
        You animal Sez:
      <input type="text" ng-model="cowsayCtrl.text">
      <input type="submit" id="submit" value="SAVE TO HISTORY">
      <h3>PREVIEW</h3>
      <pre id = "viewCow">
        {{cowsayCtrl.updateCow(cowsayCtrl.text)}}
      </pre>
      <hr><br />
      <h1 id = "historyHead">HERE IS YOUR COWFILE HISTORY</h1>
      <div class = "history" ng-repeat="animal in cowsayCtrl.history" value="{{animal}}">
      <pre ng-show="cowsayCtrl.history">
        {{animal}}
      </pre>
    </div>
    </form>
      <p ng-hide="cowsayCtrl.history"> Waiting for yout to speak </p>
  </section>
  <script type="text/javascript" src="bundle.js"></script>
</body>
</html>
