<!DOCTYPE html>
<html ng-app="demoApp">
  <head>
    <title>Cowsay Client</title>
  </head>
  <body>
    <section ng-controller="CowsayController as cowsayCtrl">
      <h1>{{cowsayCtrl.title}}</h1>
      <form ng-submit='cowsayCtrl.currText(cowsayCtrl.text)' novalidate name="form">
        <select ng-model="cowsayCtrl.currentCow">
          <option ng-repeat="list in cowsayCtrl.list" value={{list}}>{{list}}</option>
        </select>
        <input type="text" ng-model="cowsayCtrl.text">
        <button type="submit">Make me speak!</button>
        <button type="button" ng-click='cowsayCtrl.undo()'>Take it back!</button>

      </form>
      <pre>  {{cowsayCtrl.updateCow(cowsayCtrl.text)}}</pre>
      <h3>What you've said</h3>
      <pre ng-show="cowsayCtrl.prevText">{{cowsayCtrl.prevText}}</pre>
    </section>

  </body>
</html>
