// @import "reset" - this is like a css require

$black: #000000;
$brown: #BC8F8F;

body {
  color: $black;
  background-color: $brown;
}


.header {
  text-align: center;
}

.history {
  display: inline-block;
  padding: 1em;
  max-width: 100%;
}


#viewCow {
  border-style: groove;
  position: relative;
  max-width: 40%
}
